
@{
   
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row page_heading">
    <div class="pull-left">
        Sync with LMS
    </div>
</div>


<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <label for="username"> UnserName: </label>

        </div>
        <div class="col-md-4">
            <input type="text" id="username">  </input>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label for="username"> Password: </label>

        </div>
        <div class="col-md-4">
            <input type="password" id="pwd">  </input>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-2">
            <label for="username"> University Url: </label>

        </div>
        <div class="col-md-4">
            <input type="text" id="urlunv">  </input>

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sync With LMS" class="btn btn-success" />
            </div>

        </div>
