<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Canvas Settings -->
  <add key="CanvasUrl" value="https://canvas.instructure.com" />
  <!--<add key="CanvasAccessToken" value="154955~nPSnQ4k0Gut2ifaAfp3HbKJSMUMQh35RmFuLNGAFhu5QitkZit688fe1pHBLJfVb"/>-->
  <add key="CanvasAccessToken" value="7~qas6hP0KxHs36wSJcXDSEqeqd6ru1BPxH5DAQdNSris87BT5mHtusEC772wENBYU" />
  <add key="CanvasAccountId" value="10" />

  <!-- Canvas Timer Settings -->
  <add key="Interval" value="15"/>
  <add key="IntervalUnit" value="s"/>
  <!--ms=MilliSeconds, s=Seconds, m=Minutes, h=Hours-->
</appSettings>