<style type="text/css">
    #header {
        margin-top: 0px !important;
    }
    #header div {
        background: none !important;
        color: white;
        line-height: 22px !important;
        /*height: 0px !important;*/
        
    }

    .wrapper {
         margin-top:20px;
         padding-top:5px;
         padding-left:5px;
         width: 5%;
         height:5%;
    }
    
</style>
<div id="header">
  
        @*<a href="dashboard.html">LMS</a>*@
        <div class="wrapper">
            <img class="img-responsive left-block" src="~/Content/img/logoAdj.png" alt="LMS Adjutech" height="65" style="margin-top:5px" />
        </div>
</div>