<div class="panel panel-default">
    <div class="panel-heading"><h4>UnAnswered Discussions</h4></div>
    <div class="panel-body">
        <ul>
            <li>
                fdsafd1
            </li>
            <li>
                access course content
            </li>
            <li>
                How are you?
            </li>
            <li>
                How do we access the discussions?
            </li>
            <li>
                adfadsfdf
            </li>
            <li>
                Globalization and its impacct?
            </li>
            <li>
                Michale
            </li>
            <li>
                Micheal
            </li>
            <li>
                Hello World
            </li>
            <li>
                test
            </li>
            <li>
                fdds
            </li>
            <li>
                Hello World!!
            </li>
            <li>
                Student
            </li>
            <li>
                . This course along with Strategic Management are my only two courses left for the program
            </li>
            <li>
                reread the section below?
            </li>
            <li>
                I cannot locate my Group
            </li>
            <li>
                How have changes in technology contributed to the globalization of markets and production?
            </li>
            <li>
                hello
            </li>
            <li>
                where can
            </li>
            <li>
                How to Find hacksheet for passing over the discussion?
            </li>
            <li>
                Michael
            </li>
            <li>
                wlkwlkwlk
            </li>
            <li>
                I will appreciate the comment
            </li>
            <li>
                Can I go home?
            </li>
            <li>
                asd
            </li>
            <li>
                access course contents
            </li>
        </ul>

    </div>

</div>
